#server config(optional)
PORT=
CLIENT_URL=
NODE_ENV=

#DB config
DB_HOST=
DB_PORT=
DB_USER=
DV_PASSWORD=
DB_NAME=

#JWT config
JWT_SECRET=

#Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#frontend(optional)
FRONTEND_URL=

#Exchange rate api
EXCHANGE_RATE_API_KEY=

#OCR Key
OCR_API_KEY=

#Cloudnary config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#Client url(optional)
CLIENT_URL=